[Unit]
Description=SCP Orchestrator
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/paulo/work/iot/scp-project/scp_orch
 
[Install]
WantedBy=multi-user.target

