[Unit]
Description=SCP Agent
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/scpadm/scp-project/scp_agent
 
[Install]
WantedBy=multi-user.target

